<div *ngIf="dataLoaded" style=" display:flex; justify-content: center; align-items: center; flex-direction: column; overflow: hidden;">

    <div class="row">
        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>

        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions1" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>

        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions2" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>
    </div>

   

    <div class="row">
        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions3" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>

        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions4" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>

        <div class="col-4 cards-layout">
            <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions5" [(update)]="updateFlag"
            >
          </highcharts-chart>
        </div>
    </div>

    
  
  </div>