table {
    width: 100%;
  }

  th.mat-header-cell {
    text-align: center !important;
  }

  .mat-form-field {
    font-size: 14px;
    width: 98%;
    padding-inline-start: 1%;
  }
 
  .failed {
    background: #f46a6a;
  }