
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Application Name" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="application
  " matSortDirection="asc">
      <ng-container matColumnDef="slno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl No. </th>
        <td mat-cell *matCellDef="let element"> {{element.slno}} </td>
      </ng-container>
    
      <ng-container matColumnDef="functionality">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Functionality </th>
        <td mat-cell *matCellDef="let element"> {{element.functionality}} </td>
      </ng-container>
    
      <ng-container matColumnDef="apiname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Api Name </th>
        <td mat-cell *matCellDef="let element"> {{element.apiname }} </td>
      </ng-container>
      <ng-container matColumnDef="emea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMEA </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon *ngIf="element.emea.toString().toLowerCase().includes('yes')" style="color: #556ee6;">check</mat-icon>
          <mat-icon *ngIf="!element.emea.toString().toLowerCase().includes('yes')" style="color: #f46a6a;">close</mat-icon>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="naa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAA </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon *ngIf="element.naa.toString().toLowerCase().includes('yes')" style="color: #556ee6;">check</mat-icon>
          <mat-icon *ngIf="!element.toString().toLowerCase().includes('yes')" style="color: #f46a6a;">close</mat-icon> 
        </td>
        
      </ng-container>
    
      <ng-container matColumnDef="apac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> APAC </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.apac.toString().toLowerCase().includes('yes')" style="color: #556ee6;">check</mat-icon>
          <mat-icon *ngIf="!element.apac.toString().toLowerCase().includes('yes')" style="color: #f46a6a;">close</mat-icon>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  