<div class="header-color">

    

    <h2 style="color:#ffffff; padding-top: 10px;">OTIS Dashboard </h2>


    <div  class="dropdown d-inline-block"><button _ngcontent-yrl-c89="" type="button" id="page-header-notifications-dropdown" dropdowntoggle="" class="btn header-item noti-icon" aria-haspopup="true" aria-expanded="false"><i _ngcontent-yrl-c89="" class="bx bx-bell bx-tada"></i><span _ngcontent-yrl-c89="" class="badge bg-danger rounded-pill">3</span></button><!----></div>

</div>


<app-customreports></app-customreports>

<router-outlet></router-outlet>
